@charset "utf-8";
@import "settings";

#header .con_header {
    .box_header {
        .logo {
            a svg {
                transition: fill 0.35s;
                fill:#000;
            }
            &.active {
                svg { fill:#000; }
            }
        }
        .nav li a {color: #000;}
    }
    .btn_menu a span.ic_menu span.line {background: #000;}}

#con_page {
    .con_main {
        position: relative;
        .box_slider {
            width: 100vw;
            margin: 0 auto;
            height: 100vh;
            position: relative;
            overflow: hidden;
            z-index: 1;
            .slick-list, .slick-track {height: 100%;}
            .slick-arrow {
                z-index: 10;
                position: absolute;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color: #000;
                opacity: 0.5;
            }
            .slick-next { right: 0; }
            .slick-prev {left: 0; }
            .slider_01 {
                background:url("../imgs/img_main_04.jpg") no-repeat top center;
                height: 100%;
                @include mq(pc) {
                    background-attachment: fixed;
                    background:url("../imgs/img_main_04.jpg") no-repeat top center;
                    background-size: cover;
                }
                @include mq(tab_sp) {
                    background:url("../imgs/img_main_sp.jpg") no-repeat top center;
                    background-size: cover;
                }
            }
            .slider_02 {
                background:url("../imgs/img_main_05.jpg") no-repeat top center;
                background-size: cover;
                height: 100%;
                @include mq(pc) {
                    background-attachment: fixed;
                }
            }
            .slider_mov {
                video {
                    background-size: cover;
                    @include mq(pc) {
                        width: 100%;
                    }
                    @include mq(tab_sp) {
                        height: 100vh;
                    }
                }
                
            }
        }
        .con_slogan {
            @extend %bw;
            position: relative;
            .box_slogan {
                z-index: 50;
                @include cV(width, 650px, 80%, 80%);
                position: absolute;
                color: #fff;
                left: 0;
                right:0;
                @include cV(bottom, 33vh, 22vh, 22vh);
                margin: auto;
                text-align: center;
                .slogan {
                    @include fsz-cha(35,35,28);
                    @include cV(margin-top, 30px, 3%);
                    display: block;
                    line-height: 1.3;
                    font-family: "Times New Roman", "serif";
                    font-weight: 300;
                    letter-spacing: 2px;
                }
                .st {@include fsz-cha(24,24,20);}
                &:after {
                    content: "";
                    display: block;
                    width: 1px;
                    height: 70px;
                    background-color: #fff;
                    position: absolute;
                    left: 0;
                    right: 0;
                    @include cV(bottom, -70%, -80%);
                    margin: auto;
                    opacity: 0.5;
                }
                @include mq(pc_s) {left: 10%; }
                @include mq(sp) {text-align: center;}
            }
        }
        .box_sns {
            width: 57px;
            z-index: 50;
            position: absolute;
            right: 85px;
            bottom: 30px;
            li {
                display: flex;
                width: 40px;
                height: 40px;
                border-radius: 100px;
                border: 1px solid $pointColor;;
                margin-bottom: 15px;
                a {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    color: $pointColor;;
                    i {font-size: 130%;}
                }
            }
        }
        @include mq(pc) {
            .box_sns {
                li:hover {
                    background-color: #fff;
                    a {color: $pointColor;}
                }
            }
        }
        
        @include mq(tab_sp) {
            background-color: $pointColor;
        }
    }
    
    .con_int {
        @extend %bw;
        @include cV(padding, 80px 0, 10% 0, 15% 0);
        max-width: 1100px;
        .box_txt {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @include cV(align-items, center, flex-start, center);
            .tit {
                @include cV(width, 30%, 45%, 100%);
                @include cV(margin-bottom, 0, 20%);
            }
            .txt {
                @include cV(width, 65%, 50%, 100%);
            }
            
        }

    }
    
    .con_cate {
        .box_img {
            width: 100%;
            @include cV(height, 635px, 40vh, 30vh);
        }
        .box_cate {
            position: relative;
            background-color: #E2E1D9;
            .box_txt {
                @include cV(padding, 100px 0 100px, 15% 0 15%);
                @extend %bw;
                max-width: 960px;
                .logo {
                    @include cV(width, 220px, 50%);
                    @include cV(margin, 0 auto 40px , 0 auto 5%);
                    text-align: center;
                }
                .tit, .txt {text-align: center; }
            }
        }
        &.cate_regina {
            .box_img {
                background: url("../imgs/bg_regina.jpg") no-repeat center;
                background-size: cover;
            }
        }
        &.cate_golf {
            .box_img {
                background: url("../imgs/bg_golf.jpg") no-repeat center;
                background-size: cover;
            }
            .box_cate {
                background-color: #DCE2D5;
            }
        }
    }
    
    .con_util {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .box_util {
            @include cV(width, 50%, 100%);
            box-sizing: border-box;
            a {
                display: block;
                text-align: center;
                dt {
                    @include fsz-cha(38,38,28);
                }
                dd {font-weight: 300;}
                @include cV(padding, 130px 0, 10% 0);
                @include mq(pc) {
                    &:hover {
                        dd {text-decoration: underline;}
                    }
                }

                
            }
            &.util_shop {
                position: relative;
                @include mq(pc_tab) {
                    &:before {
                        display: inline-block;
                        content: "";
                        width: 1px;
                        height: 30%;
                        background-color: #ebebeb;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        margin: auto;
                    }
                }
                @include mq(sp) {
                    &:before {
                        display: inline-block;
                        content: "";
                        width: 100%;
                        height: 1px;
                        background-color: #ebebeb;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
    }
}
